@font-face {font-family:"first-order";src:url("chrome://arcanik/skin/fonts/firstv2.ttf");}
@font-face {font-family:"first-order-l";src:url("chrome://arcanik/skin/fonts/firstv2l.ttf");}
@font-face {font-family:"first-order-s";src:url("chrome://arcanik/skin/fonts/firstv2s.ttf");}

window {
    -moz-appearance:none !important;font-family:"first-order-l",serif;font-size:0.8em;
    background-color:white !important;border:solid 1px black;
}
button {
    -moz-appearance:none !important;font-family:"first-order",serif;border:solid 1px black;
    background-color:white !important;margin:10px;padding:5px;font-size:1.2em;
}
button:hover {color:#08f;text-decoration:underline;}
groupbox {border:solid 2px #bbbbbb;border-radius:10px;}
groupbox caption {background-color:white;font-size:1.1em;}

polygon {fill:#83FFFF;stroke:#83FFFF;stroke-width:2;}

.arcanik-runecircle {fill:none;stroke:#83FFFF;stroke-width:10;}
.arcanik-voile-lab {background-color:white;font-size:1.4em;}

#arcanik-voile {background-color:white;opacity:0.7;}
#arcanik-launcher-label {font-family:"first-order",serif;font-size:2em;margin:10px;}

